.address-1 {
  height: 28px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 8px;
  min-height: 28px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.blog-thumbnail {
  background-position: 50% 50%;
  background-size: cover;
  height: 280px;
  width: 411px;
}
.frame-1598 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 508px;
  position: relative;
  width: 411px;
}
.frame-1598.frame-1598-1 {
  margin-left: 24px;
}
.text {
  height: 64px;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 8px;
  min-height: 64px;
  mix-blend-mode: normal;
  width: 413px;
}
.text-3 {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 8px;
  min-height: 76px;
  mix-blend-mode: normal;
  width: 413px;
}
